
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-repeat: no-repeat;
  background-position: top left, top right;
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 0;
}

footer{
  margin-top: auto;
  padding: 20px;
  text-align: center;
}

footer p {
  font-size: 14px;
}

header {
  color: #fff;
  padding: 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  color: #fff;
  padding: 10px;
  margin-left: auto;
}

nav h1 {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 15px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ccc;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%; 
}

.logo {
  width: 400px; 
  height: 300px; 
  border-radius: 50%;
}

/* HomePage styling*/
.homepage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hero-section {
  position: relative;
  padding: 50px;
  text-align: center;
}

.hero-section h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 18px;
  margin-bottom: 30px;
}

.hero-section .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.join-now-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.join-now-link:hover {
  background-color: #555;
}

.join-now-link:focus {
  outline: none;
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px #333;
}

/* LoginPage styling */
.login-page {
  font-family: Arial, sans-serif;
  width: 600px; 
  height: 350px; 
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
}

button.login-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.login-button:hover {
  background-color: #555;
}

p.signup-link {
  text-align: center;
  margin-top: 10px;
}

p.signup-link a {
  color: #333;
  text-decoration: underline;
}

p.signup-link a:hover {
  color: #555;
}

/* SignupPage styling */
.signup-page {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, sans-serif;
  width: 600px; 
  height: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-field {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-page h1 {
  text-align: center;
  margin-bottom: 20px;
}

.signup-page form {
  display: flex;
  flex-direction: column;
}

.signup-page input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-page button {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-page button:hover {
  background-color: #555;
}

/* HubPage styling */
.hub-page {
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hub-page h1 {
  text-align: center;
  margin-bottom: 20px;
}

.hub-page p {
  text-align: center;
  margin-bottom: 20px;
}

.hub-page ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.hub-page li {
  margin-bottom: 10px;
}

.hub-page li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.hub-page li a:hover {
  color: #555;
}

/* ChatPage styling */
.chat-container {
  background-color: rgb(217, 217, 217);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-end;
  height: 100vh;
}

.chat-page {
  display: flex;
}

.chat-sidebar {
  height: 100vh;
  width: 300px;
  background-color: rgb(129, 129, 129);
  padding: 20px;
}

.chat-sidebar h2 {
  margin-bottom: 10px;
}

.chat-list {
  list-style-type: none;
  padding: 0;
}

.chat-list li {
  margin-bottom: 10px;
}

.chat-list li a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.chat-list li a:hover {
  background-color: #ddd;
}

.user-input {
  margin-top: auto;
  display: flex;
  align-items: center;
  padding: 10px;
}

.user-input input {
  height: 40px;
  width: 500px;
  flex-grow: 1;
  border: none;
  padding: 8px;
  border-radius: 4px;
}

.user-input button {
  margin-left: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.user-input button:hover {
  background-color: #0056b3;
}




